Source: mad
Priority: optional
Section: sound
Build-Depends: debhelper (>= 3), gettext, zlib1g-dev, libesd0-dev
Maintainer: Kyle McMartin <kyle@debian.org>
Standards-Version: 3.5.8

Package: libmad0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: MPEG audio decoder library
 MAD is an MPEG audio decoder. It currently only supports the MPEG 1
 standard, but fully implements all three audio layers (Layer I, Layer II,
 and Layer III, the latter often colloquially known as MP3.)
 .
 MAD has the following special features:
   - 100% fixed-point (integer) computation
   - completely new implementation based on the ISO/IEC 11172-3 standard
   - distributed under the terms of the GNU General Public License (GPL)

Package: libmad0-dev
Architecture: any
Section: devel
Depends: libmad0 (=${Source-Version}), pkg-config
Description: MPEG audio decoder development library
 MAD is an MPEG audio decoder. It currently only supports the MPEG 1
 standard, but fully implements all three audio layers (Layer I, Layer II,
 and Layer III, the latter often colloquially known as MP3.)
 .
 This is the package you need to develop or compile applications that use MAD.

Package: libid3tag0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: ID3 tag reading library from the MAD project
 ID3 tag manipulation library with full support for reading ID3v1, ID3v1.1,
 ID3v2.2, ID3v2.3, and ID3v2.4 tags, as well as support for writing ID3v1,
 ID3v1.1, and ID3v2.4 tags.

Package: libid3tag0-dev
Architecture: any
Section: devel
Depends: libid3tag0 (=${Source-Version}), pkg-config, zlib1g-dev
Description: ID3 tag reading library from the MAD project
 ID3 tag manipulation library with full support for reading ID3v1, ID3v1.1,
 ID3v2.2, ID3v2.3, and ID3v2.4 tags, as well as support for writing ID3v1,
 ID3v1.1, and ID3v2.4 tags.
 .
 This is the package you need to develop or compile applications that
 use id3tag.

Package: madplay
Architecture: any
Section: sound
Depends: ${shlibs:Depends}
Description: MPEG audio player in fixed point
 MAD is an MPEG audio decoder. It currently only supports the MPEG 1
 standard, but fully implements all three audio layers (Layer I, Layer II,
 and Layer III, the latter often colloquially known as MP3.).  There is also
 full support for ID3 tags.
 .
 All work is done in fixed point, so it even works on machines without a FPU.
